<div class="ui steps" [class]="(((currentStep$ | async) == 2 && (newSubgenre$ | async)?.newSubgenre) ? 'four' : 'three')">
  <div class="step" [class]="(currentStep$ | async) == 0 ? 'active' : 'disabled'">
    <div class="content">
      <div class="title">Select genre</div>
    </div>
  </div>
  <div class="step" [class]="((currentStep$ | async) == 1 && !(finalStep$ | async)) ? 'active' : 'disabled'">
    <div class="content">
      <div class="title">Select subgenre</div>
    </div>
  </div>
  <ng-container *ngIf="(currentStep$ | async) == 2 && !(finalStep$ | async)">
    <div class="step active">
      <div class="content">
        <div class="title">Add new Genre</div>
      </div>
    </div>
  </ng-container>
  <div class="step" [class]="(finalStep$ | async) ? 'active' : 'disabled'">
    <div class="content">
      <div class="title">Submit Book</div>
    </div>
  </div>
</div>