@import 'variables';

.ui.container {
  .ui.three.steps {
    margin: 10rem auto;
  }
  .column {
    background: teal;
    border: 1px solid $light-primary;
    color: $dark-100;
    width: 20%; 
    margin: 2.5rem;
    }
}