.ui.container {
  .ui.three.steps {
    margin: 100px auto;
  }
  // .ui.grid {
  //   margin: auto;
  // .ui.four.column.doubling.stackable.grid.container {
  .column {
    background: teal;
    // margin: 10px;
    border: 1px solid #fff;
    color: #ffff;
    width: 20%; 
    margin: 25px;
    }
  // }
  // }
}