<div class="four column stackable ui grid container" *ngIf="(genres | async) as genresList">
  <div class="column" *ngFor="let genre of genresList" (click)="pickGenre(genre.id)" >
    <div class="ui segment" [class.selected_genre]="selectedGenre === genre.id">
      <p>{{genre.name}}</p>
    </div>
  </div>
</div>
<div class="four column stackable ui grid container" *ngIf="(subgenres | async) as subgenresList">
  <div class="column" *ngFor="let subgenre of subgenresList" (click)="pickGenre(subgenre.id)" >
    <div class="ui segment" [class.selected_genre]="selectedGenre === subgenre.id">
      <p>{{subgenre.name}}</p>
    </div>
  </div>
</div>

