@import 'variables';

.ui.container {
  .title {
   h1 {
    font-size: $font-title-extra-large;
    // font-family: 'Cinzel Decorative', cursive;
   }
  }
  .ui.fluid {
    width: 60%;
  }
  .ui.button {
    display: block;
    margin: auto;
  }
}