<form class="form-size">
  <app-input
    placeholder="Book Title"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Author"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="ISBN"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Publisher"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Date Published"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Number of pages"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Format"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Edition"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Edition Language"
    type="text"
    needTrim="true"
  ></app-input>
  <app-input
    placeholder="Description"
    type="text"
    needTrim="true"
  ></app-input>
  <button
  class="block btn-brand btn-large mgx-auto mgy-6 txt-bold"
  >
  let the fun begin!
</button>
</form>

<!-- [disabled]="!registrationForm.valid || (showLoading$ | async)"
(click)="onSubmit()" -->
<!-- [control]="regService.getFieldControl('username', registrationForm)" -->