<label
  class="w-100 block relative bg-dark mga-4 mgx-auto"
  [class.w-100]="subgenre"
  [class.short]="short"
  [class.small]="small"
>
  <ng-container>
    <input
      [type]="type"
      class="w-100 pdl-4 pdt-4 shared-input txt-dark300"
      [formControl]="control"
      (blur)="trim && genrService.removeWhiteSpace(control)"
    />
    <span class="floating-label absolute">{{ placeholder }}</span>
  </ng-container>
</label>
<ng-container *ngIf="genrService.errors(control)">
  <app-validation-message
    [validation]="control"
    [currentField]="placeholder"
  ></app-validation-message>
</ng-container>

