<label
  class="w-80 block relative bg-dark mga-4 mgx-auto"
>
  <ng-container>
    <input
      [type]="type"
      class="w-100 pdl-4 pdt-4 shared-input txt-dark300"
    />
    <!-- <input
      [type]="type"
      class="w-100 pdl-4 pdt-4 shared-input"
      [formControl]="control"
      [attr.value]="value ? value : null"
      [ngClass]="{ 'border-input radius-5 ': !isInlineInput }"
      [attr.maxlength]="maxLength"
      (blur)="trim && regService.removeWhiteSpace(control)"
    /> -->
    <span class="floating-label absolute">{{ placeholder }}</span>
  </ng-container>
</label>
<!-- <ng-container *ngIf="regService.errors(control) && !isInlineInput">
  <app-validation-messages
    [validation]="control"
    [currentField]="placeholder"
  ></app-validation-messages>
</ng-container> -->

