/* Global utility classes */

// displays & layout

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-items: center;
}

.centered {
  @include positioning(
    $top: 50%,
    $left: 50%,
    $transform: translate(-50%, -50%)
  );
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

// min/max sizes

.form-size {
  width: min(650px, 100%);
  margin: 0 auto;
}

.form-size-button {
    width: 10%;
    position: absolute;
    right: -100px;
    bottom: -51px;
}
.short {
  width: 40% !important;
  margin-left: 0;
}
.small {
  width: 30% !important;
  margin-left: 0;
}
/* .active-link {
  border-bottom: 2px solid $brand-primary-color;
} */
